<!--FRONT-->

<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <!-- SideNav: Faz um Toggle direto na Variável de Template... -->
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">

    <mat-icon> menu </mat-icon>

  </button>
  <span> Front-End da Prova </span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <!-- Listar as Tarefas -->
      <a mat-list-item routerLink="/pages/tarefa/listar">
        <div class="item">
          <!-- Sem Icone, só o texto. -->
          <span> Lista de Tarefas </span>
        </div>
      </a>

      <!-- Cadastrar uma Tarefa -->
      <a mat-list-item routerLink="/pages/tarefa/cadastrar">
        <div class="item">
          <!-- Sem Icone, só o texto. -->
          <span> Cadastrar Tarefa </span>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

<mat-sidenav-content class="content">

  <!-- Conteúdo -->
  <router-outlet> </router-outlet>
</mat-sidenav-content>

</mat-sidenav-container>
